*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

@media (max-width: 1054px) {
  section {
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  section {
    transform: scale(0.55);
  }
}
